flows.json
[{"id":"84a5f735.8cd23","type":"serial in","z":"1632d496.620ab3","name":"","serial":"bdc3fa83.6fea6","x":220,"y":280,"wires":[["38074698.52f85a"]]},{"id":"38074698.52f85a","type":"function","z":"1632d496.620ab3","name":"","func":"var cadena = msg.payload.split(\",\");\nvar usuario = cadena[0];\nvar temperatura = parseInt(cadena[1]);\nvar humedad = parseInt(cadena[2]);\nvar msg2 = {payload:temperatura};\nvar msg3 = {payload:humedad};\nvar msg1 = {};\n\nif(usuario == '00' ){\n    msg1 = {payload: 'Mateo'};\n}else if (usuario == '01'){\n\tmsg1 = {payload:'Maria'};\n}else if(usuario == '10'){\n\tmsg1 = {payload: 'Ronald'};\t\n}else{\n\tmsg1 = {payload: 'Andres'};\n}\nreturn [msg1, msg2, msg3]","outputs":3,"noerr":0,"initialize":"","finalize":"","x":430,"y":300,"wires":[["4f7c0904.8e1d38"],["4a80e87e.4d7448"],["bcb19d36.42055"]]},{"id":"4f7c0904.8e1d38","type":"ui_text","z":"1632d496.620ab3","group":"df93fd18.fa01d","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":220,"wires":[]},{"id":"4a80e87e.4d7448","type":"ui_gauge","z":"1632d496.620ab3","name":"","group":"df93fd18.fa01d","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"grados","format":"{{msg.payload}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":320,"wires":[]},{"id":"bcb19d36.42055","type":"ui_gauge","z":"1632d496.620ab3","name":"","group":"df93fd18.fa01d","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":420,"wires":[]},{"id":"bdc3fa83.6fea6","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"df93fd18.fa01d","type":"ui_group","name":"Default","tab":"3d288c49.e79904","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d288c49.e79904","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]